<ion-view title="Why cancel?">
  <ion-content class="cancel">
        <div class="content">
            <div class="list">
              <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                  Receiver busy
                </div>
              </label>
              <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                  Can not wait more
                </div>
              </label>
              <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                  Other plan
                </div>
              </label>
            </div>
            <div class="cancel-button">
              <button ng-click="cancel();" class="button uver-btn btn-cancel">Cancel now</button>
              <button class="button button-block button-clear color-uver uver-text-clear">
                Need help ?
              </button>
            </div>
        </div>
  </ion-content>
</ion-view>
