<ion-view hide-nav-bar="true" hide-back-button="true" title="Login">
  <ion-content class="login-content">
      <div class="content">
          <div class="row logo text-center">
              <img src="img/polettologo.png" alt="Uver" />
          </div>
          <div class="padding">
          <div class="padding">
          <div class="list list-inset uver-form login-form">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <i class="fa fa-times"></i>
                <input type="email" placeholder="support@polettoweb.com">
              </label>
              <label class="item item-input item-stacked-label item-margin item-password">
                <span class="input-label">Password</span>
                <i class="fa fa-check"></i>
                <input ng-model="userPassword" type="password" placeholder="******">
              </label>
          </div>

          <div class="list button-form-group text-center">
              <button ng-click="doLogin(userPassword,email);" class="button uver-btn">Login</button>
              <div class="text-center color-uver or-text">
              </div>Password dimenticata</button>
          </div>
      </div>
  </ion-content>
</ion-view>
