<ion-view title="Register">
  <ion-content class="register">
     <div class="content">
         <br />
        <div class="list uver-form">
          <label class="item item-input item-stacked-label">
            <i class="fa fa-check"></i>
            <span class="input-label">First Name</span>
            <input type="text" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
            <i class="fa fa-check"></i>
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Doe">
          </label>
          <label class="item item-input item-stacked-label">
            <i class="fa fa-check"></i>
            <span class="v-ico"></span>
            <span class="input-label">Email</span>
            <input type="email" placeholder="John@uver.com">
          </label>
          <label class="item item-input item-stacked-label">
            <i class="fa fa-check"></i>
            <span class="x-ico"></span>
            <span class="input-label">Phone Number</span>
            <input type="text" placeholder="(+100) 123 456 789">
          </label>
        </div>
        <br />
        <br />
        <button ng-click="doRegister();" class="button uver-btn">Register</button>
        <button class="button button-block button-clear color-uver uver-text-clear">
          Need help ?
        </button>
    </div>
  </ion-content>
</ion-view>
