<ion-view title="Ritiro rifiutato">
  <ion-content class="register">
     <div class="content">
         <br />
        <form name="giacenzaData" role="form">
        <div class="list uver-form">
          <label class="item item-input item-stacked-label">
            <i class="fa fa-truck"></i>
            <span class="input-label">Id Spedizione</span>
            <input type="text" placeholder="{{ritriID}}" readonly>
          </label>
          <label class="item item-input item-stacked-label">
            <i class="fa fa-user"></i>
            <span class="input-label">Nome firmatario</span>
            <input type="text" ng-model="giacenza.signer" placeholder="Doe">
          </label>
          <div class="list">
     <label class="item item-input item-select" style="padding:0px">
                    <div class="input-label">Stato
                    </div>

                    <!--select ng-model="statusSelect" required="required"
  ng-options="options.id_stato as options.nomo_stato for options in statusIds" >
    <option style="display:none" value="">select a status</option>
</select-->
<select ng-model="giacenza.statusSelect">
  <option style="display:none" value="" >select a status</option>
<option ng-repeat = "options in statusIds track by $index" value={{options.id_stato}}>{{options.nome_stato}}</option>
</select>
                </label>
              </div>
          <label class="item item-input item-stacked-label">
            <i class="fa fa-check"></i>
            <span class="x-ico"></span>
            <span class="input-label">Note autista</span>
            <textarea row="5" ng-model="giacenza.note" placeholder="Scrivi qui le tue note"></textarea>
          </label>
        </div>
        <br />
        <button ng-click="addImage()" class="button uver-btn ion-camera" style="background: green">  Aggiungi foto</button>
        <br />
        <ion-scroll class="imageThumb">
        <ion-list>
        <ion-item class="item item-avatar item-thumbnail-left" ng-repeat="image in images" >  
          <img  class="clearImg" ng-src="{{image}}">                
        </ion-item>
      </ion-list>
     </ion-scroll>
        <br />
        <br />
        <button type="submit" ng-click="rejectShipping();" class="button uver-btn">Rifiuta</button>
        </form>
    </div>
  </ion-content>
</ion-view>