<ion-view title="Ritiri">
  <ion-content class="profile-content">
  <ion-refresher pulling-text="Pull To Refresh" on-refresh="refreshRitiri()"
            refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"
          ></ion-refresher>
      <ion-list ng-repeat = "item in ritiri.rows |filter: {'entry_by' : currentuserID}" can-frag="false">
        <ion-item class="item-remove-animate item-icon-right" ng-click="ritriview(item.id_ritiro);">
          <h2>{{item.numero_spedizione}}</h2>
          <p>{{item.rag_soc_mitt}}</p>
          <p>{{item.indirizzo_mitt}}</p>
          <p>{{item.localita_mitt}}</p>

          <i class="icon ion-arrow-right-b"></i>
          <ion-reorder-button class="ion-drag" on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
          <ion-option-button class="button-balanced icon-left ion-happy-outline" ng-click="ritirieff(item.id_ritiro)"> Effettua</ion-option-button>
          <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="mancatiritiri(item.id_ritiro)"> Rifiuta</ion-option-button>
        </ion-item>
       
      </ion-list>
  </ion-content>
  <!--div class="bar bar-footer bar-stable">
 	<a class="button button-balanced icon-left ion-happy-outline">Effettuati</a>
 	<a class="button button-assertive icon-left ion-trash-b">Rifiutati</a>
 </div-->
</ion-view>



