<ion-view title="Profile" hide-back-button="true" cache-view='false'>
  <ion-content class="profile-content">
      <div class="list inset" style="width: 170px;">
          <div class="avatar" style="background-image: url({{ profile.avatar }}); width:170px;"></div>
          <button ng-click="spedizioni();" class="button uver-btn">Spedizioni</button>
          <button ng-click="ritiri();" class="button uver-btn">Ritiri</button>
          <button ng-click="support();" class="button uver-btn">Notifiche</button>
          <button ng-click="setting();" class="button uver-btn">Impostazioni</button>
      </div>
  </ion-content>
</ion-view>
